{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}

{% block body %}
    <h1>Team index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created_at</th>
                <th>End_at</th>
                <th>Draw_at</th>
                <th>Fixe_price</th>
                <th>Admin_email</th>
                <th>Admin_password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.created_at ? team.created_at|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ team.end_at ? team.end_at|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ team.draw_at ? team.draw_at|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ team.fixe_price }}</td>
                <td>{{ team.admin_email }}</td>
                <td>{{ team.admin_password }}</td>
                <td>
                    <a href="{{ path('team_show', {'id': team.id}) }}">show</a>
                    <a href="{{ path('team_edit', {'id': team.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('team_new') }}">Create new</a>
{% endblock %}