{% extends 'base.html.twig' %}

{% block title %}Wishe index{% endblock %}

{% block body %}
    <h1>Wishe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Url_image</th>
                <th>Link</th>
                <th>Team_id</th>
                <th>User_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wishe in wishes %}
            <tr>
                <td>{{ wishe.id }}</td>
                <td>{{ wishe.content }}</td>
                <td>{{ wishe.url_image }}</td>
                <td>{{ wishe.link }}</td>
                <td>{{ wishe.team_id }}</td>
                <td>{{ wishe.user_id }}</td>
                <td>
                    <a href="{{ path('wishe_show', {'id': wishe.id}) }}">show</a>
                    <a href="{{ path('wishe_edit', {'id': wishe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wishe_new') }}">Create new</a>
{% endblock %}