{% extends 'base.html.twig' %}

{% block title %}Wishe{% endblock %}

{% block body %}
    <h1>Wishe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wishe.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ wishe.content }}</td>
            </tr>
            <tr>
                <th>Url_image</th>
                <td>{{ wishe.url_image }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ wishe.link }}</td>
            </tr>
            <tr>
                <th>Team_id</th>
                <td>{{ wishe.team_id }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ wishe.user_id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wishe_index') }}">back to list</a>

    <a href="{{ path('wishe_edit', {'id': wishe.id}) }}">edit</a>

    {{ include('wishe/_delete_form.html.twig') }}
{% endblock %}